@use '../base' as *;

.header {
    height: 95vh;

    @include respond(phone) {
        height: 100vh;
    }

    position: relative;
    background-image: 
        linear-gradient(to right bottom,
        rgba($color-white, 0.6),
        rgba($color-orange-light, 0.5)),
        url("./../img/tea-1x.jpg");
    background-size: cover;
    background-position: top;

    @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 2000px) {
        background-image:  linear-gradient(to right bottom,
        rgba($color-white, 0.6),
        rgba($color-orange-light, 0.5)),
         url("./../img/tea-2x.jpg");
    }

    &__logo-box {
        position: absolute;
        top: 6rem;
        left: 10rem;

        @include respond(tab-land) {
            left: 5rem;

        }

        @include respond(phone) {
            top: 2rem;
            left: 2rem;
        }

        .logo {
            height: 5rem;

            @include respond(phone) {
                height: 4rem;
            }
        }
    }

    &__text {
        max-width: 55rem;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond(tab-port) {
            top: 50%;

        }


        @include respond(tab-land) {
            width: 40%;

        }
    }

    &__message-form {
        min-width: 20%;
        left: 10rem;
        position: absolute;
        bottom: 0;
        background-color: $color-white-grey;
        box-shadow: $border-shadow;
        border-radius: 2px;
        padding: 1rem 2.5rem 2rem;

        @include respond(tab-land) {
            left: 5rem;
            min-width: 17%;
        }

        @include respond(tab-port) {
            display: none;
            width: 60%;
            border-radius: 2rem;
            padding: 3rem 3rem;
            @include posCenter;
        }

        @include respond(phone) {
            width: 85%;
            padding: 2.5rem 2rem;
            z-index: 30;
        }
    }




    &__message {
        display: none;
        cursor: pointer;

        position: absolute;
        bottom: 4rem;
        left: 10rem;



        @include respond(phone) {
            left: 2rem;
        }

        @include respond(tab-port) {
            display: block;
        }

        z-index: 15;
        box-shadow: $border-shadow-light;

        &-icon {
            position: relative;
            background-color: $color-white;
            text-align: center;

            .message-icon {
                @include posCenter;
                height: 5rem;
                width: 5rem;
                fill: $color-primary-orange;

            }
        }
    }

    &__message &__message-icon {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        padding: 0;
    }

    &--form-open {
        @include respond(tab-port) {
            .header__text,
            .header__message {
                display: none;
            }

            .header__message-form {
                display: block;
            }
        }
    }
}