@use '../base' as *;

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    &--active {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-black, .5);
    }

    &__content {
        position: relative;
        background-color: $color-white-grey;
        box-shadow: $border-shadow;
        max-width: 60rem;
        width: 85%;
        padding: 4rem 5rem;
        border-radius: 3px;
        z-index: 1;
        max-height: 85vh;
        overflow-y: auto;

        @include respond(phone) {
            width: 90%;
            padding: 3rem 2.5rem;
        }
    }

    &__close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;

        svg {
            width: 2rem;
            height: 2rem;
            fill: $color-primary-orange;
        }
    }

    &__title {
        font-size: 2rem;
        font-weight: 600;
        font-family: $default-font;
        color: $color-primary-orange;
        margin-bottom: 2rem;
    }

    &__text {
        font-size: $default;
        font-family: $default-font;
        line-height: 1.7;
        color: $color-primary-dark;
    }
}
